<kendo-grid
  [data]="users"
  [pageSize]="pageSize"
  [skip]="pageSize * (pageNumber - 1)"
  [sortable]="true"
  [pageable]="true"
>
  <ng-template kendoGridToolbarTemplate position="top">
    <button kendoGridAddCommand (click)="addHandler()">Add new</button>
    <kendo-grid-spacer></kendo-grid-spacer>
  </ng-template>
  <kendo-grid-column
    field="firstName"
    title="First Name"
    [width]="150"
    [headerStyle]="{
      'background-color': '#666',
      color: 'white',
      justifyContent: 'left'
    }"
    [headerClass]="'col-4'"
  ></kendo-grid-column>
  <kendo-grid-column
    field="lastName"
    title="Last Name"
    [width]="150"
    [headerStyle]="{
      'background-color': '#666',
      color: 'white',
      justifyContent: 'left'
    }"
    [headerClass]="'col-4'"
  ></kendo-grid-column>
  <kendo-grid-column
    field="emailAddress"
    title="Email"
    [width]="200"
    [headerStyle]="{
      'background-color': '#666',
      color: 'white',
      justifyContent: 'left'
    }"
    [headerClass]="'col-4'"
  ></kendo-grid-column>
  <kendo-grid-column
    field="phoneNumber"
    title="Phone Number"
    [width]="150"
    [headerStyle]="{
      'background-color': '#666',
      color: 'white',
      justifyContent: 'left'
    }"
    [headerClass]="'col-4'"
  ></kendo-grid-column>

  <kendo-grid-command-column
    title="Actions"
    [width]="220"
    [headerStyle]="{
      'background-color': '#666',
      color: 'white',
      justifyContent: 'left'
    }"
    [headerClass]="'col-4'"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton (click)="editHandler(dataItem)">Edit</button>
      <button kendoButton (click)="removeHandler(dataItem.id)">Delete</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<!-- Form to add/edit users -->
<kendo-dialog *ngIf="editedUser" (close)="cancelHandler()">
  <form (ngSubmit)="saveHandler(editedUser)">
    <kendo-dialog-titlebar>
      {{ editedUser.id === 0 ? "Add User" : "Edit User" }}
    </kendo-dialog-titlebar>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        [(ngModel)]="editedUser.firstName"
        name="FirstName"
        required
        class="k-input"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        [(ngModel)]="editedUser.lastName"
        name="LastName"
        required
        class="k-input"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        [(ngModel)]="editedUser.emailAddress"
        name="EmailAddress"
        type="email"
        required
        class="k-input"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        [(ngModel)]="editedUser.phoneNumber"
        name="PhoneNumber"
        required
        class="k-input"
      />
    </div>
    <kendo-dialog-actions>
      <button kendoButton type="submit" themeColor="primary">Save</button>
      <button kendoButton (click)="cancelHandler()">Cancel</button>
    </kendo-dialog-actions>
  </form>
</kendo-dialog>
